<section class="flex flex-col gap-8">
  <article>
    <h1 class="text-8xl">Hello</h1>

    <p>
      My name is Owen Bickford, and owencode.com is where I keep track of work I have done and tinker with new tech.
    </p>
  </article>

  <article>
    <h2>What You're Seeing 🧑🏻‍🚀</h2>

    <p>
      This is a <strong class="text-green-500">fresh</strong> Phoenix application. Work is <em>very much</em> in progress, and you may see some rough edges.
    </p>

    <p>
      The <a href="https://owencode.netlify.app/">previous version</a> was slightly more fun and experimental. This one will become even more fun and experimental as time allows.
    </p>
  </article>

  <article>
    <h2>What I've Learned 🤓</h2>

    <ul>
      <li>Functional programming makes applications easier to build and debug, generally.</li>
      <li>Selecting a programming language is about more than technical requirements.</li>
      <li>Not everyone has energy, time, or resources to regularly learn new skills.</li>
      <li>Always work towards a simpler solution, though complexity is sometimes unavoidable.</li>
      <li><a href="https://threejs.org/">ThreeJS</a> is fun.</li>
    </ul>
  </article>

  <article>
    <h2>Tech I've Used 🏋🏻‍♀️</h2>

    <ul>
      <li>
        <a href="https://fly.io">Fly.io</a>
      </li>
      <li>
        <a href="https://elixir-lang.org/">Elixir</a>
        + <a href="https://phoenixframework.com/">Phoenix</a>
        + <a href="https://tailwindcss.com/">Tailwind</a>
        🏆
      </li>
      <li>
        <a href="https://php.net/">PHP</a>
        + <a href="https://alpinejs.dev/">Alpine</a>
        + <a href="https://getbootstrap.com/">Bootstrap</a>
      </li>
      <li>
        <a href="https://laravel.com/">Laravel</a>
        + <a href="https://laravel-livewire.com/">LiveWire</a>
      </li>
      <li>
        <a href="https://cloudfoundry.org">Cloud Foundry</a>
      </li>
      <li>
        OAuth:
        <a href="https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/auth-oauth2">Azure</a>,
        <a href="https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps">GitHub</a>,
        <a href="https://developer.dexcom.com/authentication">Dexcom</a>
      </li>
      <li>
        <a href="https://www.vaultproject.io/">Hashicorp Vault</a>
      </li>
      <li>
        <a href="https://concourse-ci.org/">Concourse CI</a>
      </li>
      <li>
        <a href="https://github.com/features/actions">GitHub Actions</a>
      </li>
      <li>
        <a href="https://sentry.io/welcome/">Sentry</a>
      </li>
      <li>
        <a href="https://docs.semaphoreci.com/examples/elixir-phoenix-continuous-integration/">Semaphore</a>
      </li>
    </ul>
  </article>
</section>
