<section class="flex flex-col gap-8">
  <article>
    <h1 class="text-8xl">Hello</h1>

    <p>
      My name is Owen Bickford, and owencode.com is where I keep track of work I have done and tinker with new tech.
    </p>
  </article>

  <article>
    <h2>What You're Seeing 🧑🏻‍🚀</h2>

    <p>
      This is a <span class="text-green-500">fresh</span> Phoenix application. Work is very much in progress, and you may see some rough edges.
    </p>

    <p>
      The <a href="https://owencode.netlify.app/">previous version</a> was slightly more fun and experimental. This one will become even more fun and experimental as time allows.
    </p>
  </article>

  <article>
    <h2>What I've Learned 🤓</h2>

    <ul>
      <li>Functional programming makes applications easier to build and debug, generally.</li>
      <li>Selecting a programming language is about more than technical requirements.</li>
      <li>Not everyone has energy, time, or resources to regularly learn new skills.</li>
      <li>Always work towards a simpler solution, though complexity is sometimes unavoidable.</li>
      <li><a href="https://threejs.org/">ThreeJS</a> is fun.</li>
    </ul>
  </article>

  <article>
    <h2>Tech I've Used 🏋🏻‍♀️</h2>

    <ul>
      <li>Elixir + Phoenix + Tailwind 🏆</li>
      <li>PHP + Alpine + Bootstrap</li>
      <li>Laravel + LiveWire</li>
      <li>Cloud Foundry</li>
      <li>OAuth: Azure, GitHub, Dexcom</li>
      <li>Hashicorp Vault</li>
      <li>Concourse CI</li>
      <li>GitHub Actions</li>
      <li>Sentry</li>
      <li>Semaphore</li>
    </ul>
  </article>
</section>
