<%= live_redirect "Posts", to: Routes.post_index_path(@socket, :index) %>

<article class="flex flex-col gap-6">
  <h1 class="text-5xl"><%= @post.title %></h1>

  <div class="flex flex-wrap items-baseline gap-4">
    <span><%= @post.date %> by <%= @post.author %></span>

    <ul class="flex flex-wrap gap-2 p-0 list-none">
      <%= for tag <- @post.tags do %>
        <li class="px-2 rounded bg-default-600"><%= tag %></li>
      <% end %>
    </ul>
  </div>

  <%= raw @post.body %>
</article>
