# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Phoenix CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Restore deps cache
        uses: actions/cache/restore@v4
        with:
          path: deps
          key: ${{ runner.os }}-deps-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-deps-
      - name: Restore build cache
        uses: actions/cache/restore@v4
        with:
          path: _build
          key: ${{ runner.os }}-build-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-build-
      - name: Set up Elixir
        uses: erlef/setup-beam@61e01a43a562a89bfc54c7f9a378ff67b03e4a21 # v1.16.0
        with:
          elixir-version: "1.19" # [Required] Define the Elixir version
          otp-version: "28" # [Required] Define the Erlang/OTP version
      - name: Install dependencies
        run: mix deps.get
      - name: Save deps cache
        uses: actions/cache/save@v4
        with:
          path: deps
          key: ${{ runner.os }}-deps-${{ hashFiles('**/mix.lock') }}
      - name: Compile code
        run: |
          MIX_ENV=dev mix compile --warnings-as-errors
          MIX_ENV=test mix compile --warnings-as-errors
          MIX_ENV=prod mix compile --warnings-as-errors
      - name: Save build cache
        uses: actions/cache/save@v4
        with:
          path: _build
          key: ${{ runner.os }}-build-${{ hashFiles('**/mix.lock') }}
      - name: Run tests
        run: mix test
