<!DOCTYPE html>
<html lang="en" class="w-screen h-screen overflow-hidden">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " · OwenCode" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col w-full h-full gap-4 py-4 pb-20 overflow-auto text-lg leading-relaxed tracking-normal xl:text-xl sm:text-base text-default-200 bg-gradient-to-br from-default-700 to-default-900">
    <header>
      <section class="container sticky top-0 z-50 sm:px-2 lg:px-4">
        <nav class="flex flex-wrap items-end justify-between gap-8">
          <a href={Routes.page_path(@conn, :index)} class="text-5xl font-normal lowercase font-logo text-brand-400">OwenCode</a>
          <ul class="flex gap-4 list-none">
            <li><%= link "Home", to: Routes.page_path(@conn, :index)%></li>
            <li><%= link "Posts", to: Routes.post_index_path(@conn, :index)%></li>
            <li><%= link "GitHub", to: "https://github.com/type1fool/owencode" %></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>

    <main class="container sm:px-2 lg:px-4">
      <%= @inner_content %>
    </main>
  </body>
</html>
